<!--
            <div class="col-xs-3">
                <div fb-like="myModel.Url">adsfadsfadsfasdf</div>
            </div>
	    <br>
-->



<ul class="grid art">
	<li class="grid__item">
		<button class="icobutton icobutton--thumbs-up btn-thumb">
			<span class="fa fa-thumbs-up">
				<img src="../img/sherpa.png"></img>	
			</span>
	
			
		</button>
	</li>
	<li class="grid__item">
		<button class="icobutton icobutton--thumbs-up btn-thumb">
			<span class="fa fa-thumbs-up">
				<img src="../img/Hippocampus.png"></img>	
			</span>
		</button>
	</li>
	<li class="grid__item">
		<button class="icobutton icobutton--thumbs-up btn-thumb">
			<span class="fa fa-thumbs-up">
				<img src="../img/brain.jpg"></img>	
			</span>	
		</button>
	</li>
	
	<li class="grid__item">
		<button class="icobutton icobutton--thumbs-up btn-thumb">
			<span class="fa fa-thumbs-up">
				<img src="../img/Hippocampus2.png"></img>	
			</span>
		</button>
	</li>

	
</ul>

<!--
<div class="art">
	<img src="../img/sherpa.png"></img>
	<img src="../img/Hippocampus.png"></img>
	<img src="../img/brain.jpg"></img>
	<img src="../img/Hippocampus2.png"></img>
</div>
-->

