

<div class="row">
	<div class="col s12 m7"  style="width:100%;">
		<div class="card">
			<div class="card-image">

				<video autoplay loop muted>
					<source src="../videos/wine.mp4" type="video/mp4">
				</video>


				<span class="card-title">Welcome to Park Street</span>
			</div>
			<div class="card-content">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
			</div>
			<div class="card-action">
				<a href="" class="glyphicon glyphicon-phone-alt">   1-305-967-7440</a>
				<span class="email"><a href="" class="glyphicon glyphicon-send">   info@parkstreet.com</a></span>
			</div>
		</div>
	</div>
</div>


<!--
<video autoplay loop muted>
	<source src="videos/wine.mp4" type="video/mp4">
</video>
-->
<!--
<div class="presentation">
	<h2>Welcome to Parkstreet</h2>
	<p>Phasellus mauris odio, feugiat quis enim a, egestas consequat nunc. Nam non odio augue. Praesent condimentum ac diam non faucibus.</p>
	-<a target="_blank" class="btn" href="https://github.com/mriverodorta/ang-starter">Visit project page</a>
</div>
-->





